@borderColor: rgba(0, 0, 0, 0.12);
@headerHeight: .58rem;
@columWidth: 12.5%;

.c7n-project-overview-date-table {
  width: 100%;
  height: auto;
  border: 1px solid @borderColor;

  &-header {
    width: 100%;
    height: @headerHeight;
    border-bottom: 1px solid @borderColor;
    display: inline-flex;

    &-btn {

      width: 0;
      height: 0;
      position: relative;

      &-left {
        right: 4px;
        top: 12px;
      }

      &-right {
        right: 27px;
        top: 12px;
      }
    }

    &-cell {
      width: @columWidth;
      height: @headerHeight;
      font-size: .13rem;
      font-weight: 500;
      color: rgba(58, 52, 95, 1);
      line-height: .18rem;

      &-top {
        width: 129px; //error
        position: relative;
        overflow: hidden;
        border-right: 1px solid @borderColor;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: .24rem;
          box-sizing: border-box;
          border-bottom: 1px solid @borderColor;
          transform: rotateZ(27deg) scale(1.2903);
        }

        div {
          font-size: .12rem;
          font-weight: 400;
          color: rgba(58, 52, 95, 1);
          line-height: .17rem;
        }

        &-x {
          position: relative;
          right: .23rem;
          bottom: .13rem;
          text-align: right;
        }

        &-y {
          position: relative;
          top: .31rem;
          left: .2rem;
          width: max-content;
          text-align: left;
        }
      }
    }

  }

  &-content {
    width: 100%;
    height: max-content;
    min-height: 100px;

    .c7n-project-overview-date-table-row:not(:last-child) {
      border-bottom: 1px solid @borderColor;

    }
  }

  &-row {
    min-height: 50px;
    width: 100%;
    display: inline-flex;

    &:not(:last-child) {
      border-bottom: none;
    }

    &-cell {
      width: @columWidth;

      &:not(:last-child) {
        border-right: 1px solid @borderColor
      }

      &-first {
        width: 1.29rem; //error
        // background-color: red;

      }
    }
  }

  &-cell {
    // height: 123px;
    // width: 50px;
    padding-top: .2rem; //error
    text-align: center;
    // border-bottom: 1px solid @borderColor;

  }

  border-right {
    border-right: 1px solid @borderColor;

  }
}
