# include: https://api.choerodon.com.cn/devops/v1/projects/261899051275677696/ci_contents/pipelines/fb9ba823-2936-488e-b4f5-dffa2a13f34c/content.yaml

image: registry.cn-shanghai.aliyuncs.com/c7n/cibase:0.11.5

stages:
  - release

release:
  stage: release
  script:
    - echo "//${NPM_INSTALL_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
    - npm install --registry ${NPM_REPO}
    - chmod -R 755 .
    - npm run compile
    - echo "//${NPM_REGISTRY}:_authToken=${NPM_TOKEN}">.npmrc
    - npm publish --registry ${NPM_PUBLISH_REGISTRY} --no-git-checks
    - curl -sX POST -F token=${FRONT_REPOSITORY_TOKEN} -F ref=${REF_NAME} https://code.choerodon.com.cn/api/v4/projects/26549/trigger/pipeline
  only:
    refs:
      - master
      - tags
      - /^release-.*$/
      - /^hotfix-.*$/
      - next

.auto_devops: &auto_devops |
  http_status_code=`curl -o .auto_devops.sh -s -m 10 --connect-timeout 10 -w %{http_code} "${CHOERODON_URL}/devops/ci?token=${Token}&type=front"`
  if [ "$http_status_code" != "200" ]; then
    cat .auto_devops.sh
    exit 1
  fi
  source .auto_devops.sh

before_script:
  - *auto_devops
