@import '~choerodon-ui/lib/style/themes/default';

.c7n-project-overview-issue-table {

 &-title {
    display: inline-flex;
    align-items: center;
    & >* {
        margin-right: .26rem;
    }
 }
 &-content {
   &-summary {
    cursor: pointer;
     &:hover {
      color: @primary-color;
      text-decoration: underline;
     }
   }
   &-table {
     margin-top: -17px;
     .c7n-pro-table {
       border-top: none;
     }
   }
 }
}
