.c7n-workbench {
  display: flex;
  flex-direction: row;
  height: auto !important;
  background: rgba(245,246,250,1);
  &-left {
    flex: 1;
    margin-right: 20px;
  }
  &-right {
    flex-basis: 312px;
  }
}
