.c7n-workbench {
  display: flex;
  flex-direction: row;
  height: auto !important;
  background: rgba(245,246,250,1);
  &-left {
    flex: auto;
    padding: .2rem .2rem .2rem .26rem;
    overflow: hidden;
  }
  &-right {
    flex: 0 0 3.12rem;
    overflow: hidden;
    background: #fff;
  }

  .spin-container {
    width: auto !important;
    height: 100% !important;
  }
}

.c7n-workbench-empty-span {
  font-family: PingFangSC-Regular,PingFang SC;
  color: rgba(58, 52, 95, 0.65);
  line-height: .18rem;
  padding-top: .1rem;
  text-align: center;
  border-top: 1px solid;
  border-image: linear-gradient(to right, rgba(216, 220, 235, 0.4) , rgba(216, 220, 235, 1), rgba(216, 220, 235, 0.4)) 1 10;
}
