.c7n-workBench-empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &-image {
    margin-top: 8%;
    width: 26%;
  }

  &-title {
    margin-top: 0.3rem;
    font-size: 0.16rem;
    color: var(--text-color);

    &-btn {
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
