@c7n-boot-header: ~"c7n-boot-header";
.@{c7n-boot-header} {
  &-wrap {
    &-theme4 {
      background-color: #fff !important;
      border: 1px solid #D9E6F2;
    }
  }
  &-logo {
    &-theme4 {
      color: black !important;
    }
    &-wrap {
      &-theme4 {
        background-color: #fff !important;
        box-shadow: unset !important;
        height: 45px !important;
        line-height: 45px !important;
        border-right: 1px solid #D9E6F2;
        width: 249px !important;
      }
    }
  }
}
