@c7n-boot-header: ~"c7n-boot-header";
.@{c7n-boot-header} {
  &-wrap {
    &-theme4 {
      background-color: #fff !important;
      border: 1px solid #D9E6F2;
    }
  }
  &-logo {
    &-theme4 {
      color: black !important;
    }
    &-wrap {
      &-theme4 {
        background-color: #fff !important;
        box-shadow: unset !important;
        height: 45px !important;
        line-height: 45px !important;
        border-right: 1px solid #D9E6F2;
        width: 249px !important;
      }
    }
  }
}
.theme4-headerButton {
  height: 46px !important;
  margin-left: 20px;
}
.theme4-orgSelect {
  border-color: rgb(217, 230, 242) !important;
  margin-top: 6px !important;
}
.theme4-setting {
  margin-left: 12px;
  padding: 0 !important;
  margin-top: 6px;
  border: 1px solid #D9E6F2 !important;
}
.theme4-setting-icon {
  left: 0 !important;
}
.theme4-skinPeeler {
  margin-left: 12px;
  border: 1px solid #D9E6F2 !important;
  position: relative;
  bottom: 2px;
}
.theme4-external {
  color: #5365EA !important;
  border: 1px solid #D9E6F2 !important;
  position: relative;
  bottom: 2px;
}
.theme4-inbox {
  border: 1px solid #D9E6F2 !important;
  bottom: 2px;
}
.theme4-inbox-badge {
  .c7n-badge-count {
    background-color: #5365EA !important;
    color: white !important;
    border-color: #5365EA !important;
  }
  button {
    padding: 0px;
    width: 30px;
    i {
      left: -9px !important;
    }
  }
}
.theme4-common-menu {
  background: #0F1358 !important;
  .common-menu-right-header {
    i {
      color: white;
    }
  }
}
.theme4-menu-ul {
  .theme4-iconwrap {
    display: inline-block;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    background: rgba(255, 255, 255, 0.16);
    position: relative;
    top: 6px;
    margin-right: 16px;
    i {
      position: absolute;
      left: 3px;
      top: -7px;
    }
  }
  .c7n-menu-submenu-title {
    color: white !important;
    i {
      color: white;
    }
    .c7n-menu-submenu-arrow {
      border-color: white !important;
    }
  }
  .c7n-menu-inline {
    background: #0F1358 !important;
  }
  background: #0F1358 !important;
  .c7ncd-iconwrap {
    background: #5365EA;
    border-radius: 4px;
  }
  .c7n-menu-item-group-title {
    color: white !important;
  }
  li[aria-selected=true] {
    background: rgba(255, 255, 255, 0.08) !important;
    .theme4-iconwrap {
      background: #5365EA !important;
    }
  }
  a {
    color: white !important;
    i {
      color: white !important;
    }
  }
}
