@import '~choerodon-ui/dist/choerodon-ui.less';
@import '~choerodon-ui/lib/style/themes/default';

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .26);
  transition: background-color .3s;
  &:hover {
    background-color: #aeaeae;
  }
}

@btn-height-base: 0.32rem;
@btn-padding-base: 0 .12rem;

.@{c7n-pro-prefix} {
  &-btn {
    height: 0.32rem;
  }
  &-modal-footer {
    background: white
  }
}
.c7n-modal-sidebar .c7n-modal-content {
  left: unset;
}
