@prefixCls: c7ncd-header-middle-lists;

@keyframes slideInto {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.@{prefixCls} {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: auto;
  &::-webkit-scrollbar {
    height: 2px;
  }
  .Loop(@index) when(@index < 7) {
    &-item:nth-child(@{index}) {
      animation-delay: 0.1s * @index;
    }
    .Loop(@index+1);
  }
  .Loop(0);
  &-item {
    color: rgba(15, 19, 88, 0.65);
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    min-width: 70px;
    padding: 0 14px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    animation: slideInto 0.6s both;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover,
    &-active {
      background-color: var(--primary-color-background);
      color: var(--primary-color);
      &::after {
        width: 100%;
        height: 3px;
        background: var(--primary-color);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &-item + &-item {
    margin-left: 16px;
  }
}
