@prefixCls: c7ncd-workbench-question-bug;

.@{prefixCls} {
  flex: 1 1 62%;
  margin-right: .20rem;
  overflow: hidden;

  .c7n-workbench-card-content {
    height: calc(~"100% - 58px");
  }

  &-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-right: 10px;

    &-left {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;

    }

    &-right {
      display: inline-flex;
      align-items: center;

      &>*+* {
        margin-left: .12rem;
      }
    }
  }

  &-issueContent {
    padding-top: .13rem;

    &-more {
      color: var(--primary-color);
      padding: .2rem 0 0 .2rem;
      cursor: pointer;
    }

    &-loading {
      text-align: center;
    }

    .c7n-workbench-card-header-title {
      width: 100%;
    }

    .c7n-workbench-card-content {
      overflow: auto;
    }
  }

}
