.c7n-todoQuestion {
  flex: 1 1 62%;
  margin-right: .20rem;

  &-issueContent {
    &-issueItem {
      padding: .1rem 0;
      border-top: 1px transparent solid;
      border-image: linear-gradient(to right, rgba(216, 220, 235, 0.4), #d8dceb, rgba(216, 220, 235, 0.4)) 1 10;

      &-project {
        font-size: .13rem;
        font-family: PingFangSC-Regular,PingFang SC;
        font-weight: 400;
        color: rgba(58, 52, 95, 0.65);
        margin-bottom: 0.02rem;
      }
      &-main {
        display: flex;
        align-items: center;
        //justify-content: space-between;

        &-icon {
          font-size: .2rem;
        }

        &-issueId {
          font-size: .13rem;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: rgba(63, 81, 181, 1);
          margin: 0 .16rem 0 .04rem;
        }

        &-description {
          font-size:13px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(58,52,95,1);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &-status {
          background: rgba(255, 185, 106, 1);
          border-radius: 2px;
          font-size: 13px;
          font-family: PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          flex: 0 0 .5rem;
          margin-left: auto;
        }
        &-priority {
          margin-left: 8px;
          background:rgba(77,144,254,0.1);
          border-radius:2px;
          font-size:13px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(77,144,254,1);
          padding: 0 6px;
        }
      }
    }
  }
}
