.c7n-quickLink {
  flex: 1;
  background: white;
  border-radius:10px;
  padding: 20px 24px 24px 26px;
  &-title {
      font-size:16px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(58,52,95,1);
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      i {
        font-size: 20px;
        color: #6887E8;
        cursor: pointer;
      }
    }
}
