.c7ncd-allprojectslist-table {
  margin-top: 16px;
  &-field-name {
    display: flex;
    justify-content: space-between;
    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: calc(100% - 24px);
      .project-icon {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        color: white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100% 100%;
        margin-right: 4px;
      }
      .icon-stars {
        display: none;
        margin-left: 8px;
      }
      .icon-star_border {
        display: none;
        margin-left: 8px;
      }
      .project-name {
        display: inline-block;
        max-width: calc(100% - 20px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .project-name:hover {
        text-decoration: underline;
      }
      .project-name-disable:hover {
        text-decoration: none !important;
      }
    }
    &-right {

    }
  }
  .c7n-pro-table-row:hover {
    .icon-stars {
      display: inline-block !important;
    }
    .icon-star_border {
      display: inline-block !important;
    }
  }
  .c7ncd-health-status-render{
    cursor:pointer !important;
  }

}
