.c7n-starTargetPro {
  height: 226px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &-name {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(58, 52, 95, 1);
  }
  &-proContainer {
    flex: 1;
    display: flex;
    &-items {
      max-width: 164px;
      background:rgba(255,255,255,1);
      border-radius:10px;
      margin-right: 20px;
      height: 142px;
      flex: 1;
      padding: 20px 17px 20px 16px;
      &-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: gainsboro;
      }
      &-text {
        font-size:13px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(58,52,95,1);
        margin-top: 16px !important;
      }
      &-project {
        margin-top: 8px !important;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(58,52,95,0.65);
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          width: 20px;
          height: 20px;
          background:rgba(104,135,232,0.1);
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          i {
            color: #6887E8;
          }
        }
      }
    }
    p {
      margin: 0;
    }
  }
  &-content {
    background: white;
    flex: 1;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 184px;
      height: 146px;
    }
    &-emptyText {
      margin-left: 70px;
      &-emptyP {
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(58,52,95,0.65);
      }
      &-c7n-starTargetPro-content-emptyText-emptySuggest {
        font-size:20px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(58,52,95,1);
      }
    }
  }
}
