.c7n-workBench-empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  font-family: PingFangSC-Regular, PingFan;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

  &-image {
    width: 45%;
    margin: 4px;
  }

  &-text {
    margin: 5% 4%;
  }

  &-title {
    font-size: 0.14rem;
    color: rgba(58, 52, 95, 0.65);
    line-height: 0.2rem;
  }

  &-des {
    font-size: 0.2rem;
    line-height: 0.34rem;
    margin-top: 1%;
    color: #3a345f;
  }
}
