@prefixCls: c7ncd-workbench-question-tree;

.@{prefixCls} {

  &-content {

    .c7n-tree .c7n-tree-treenode {
      width: 100%;
      padding: 0;
      border-top: 1px transparent solid;
      border-image: linear-gradient(to right, rgba(216, 220, 235, 0.4), #d8dceb, rgba(216, 220, 235, 0.4)) 1 10;
    }

    .c7n-tree .c7n-tree-treenode:last-of-type {
      border-bottom: 1px transparent solid;
    }

    .c7n-tree .c7n-tree-node-content-wrapper {
      width: 100%;
      padding: 0;
      overflow: hidden;

      &:hover {
        background-color: transparent;
      }
    }

    .c7n-tree .c7n-tree-switcher {
      padding-top: .08rem;
    }

    &-more {
      color: #3f51b5;
      padding: .2rem 0 0 .2rem;
      cursor: pointer;
    }

    &-loading {
      text-align: center;
    }

    .c7n-workbench-card-header-title {
      width: 100%;
    }
  }
  &-more {
    color: #3f51b5;
    padding: .2rem 0 0 .2rem;
    cursor: pointer;
  }

  &-project {
    margin: .1rem 0;
    font-weight: 500;
    color: #3a345f;
    line-height: 20px;
    display: flex;
    align-items: center;

    &-avatar {
      width: .2rem;
      height: .2rem;
      margin-right: 6px;
      border-radius: 6px;
      color: white;
      background-size: 100% 100%;
      line-height: .2rem;
      text-align: center;
    }
  }
}
