.active {
  color: @primary-color;
}

.c7n-projects-header {
  display: flex;
  width: 100%;
  height: .68rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 .24rem;

  .c7n-projects-title {
    font-size: 20px;
    color: #000;
    line-height: .28rem;
  }
}

.c7n-projects-tool {
  margin-bottom: .16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-icon-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .icon {
      cursor: pointer;
    }
  }
}

.c7n-projects-modal-create-project {
  .c7n-pro-modal-body {
    height: calc(~"100vh - .61rem");
    max-height: calc(~"100vh - .61rem");
    padding-bottom: 0;
  }
}