.c7n-workbench-card {
  background-color: #fff;
  padding: .2rem .24rem;

  &-header {
    margin-bottom: .2rem;
    display: flex;

    &-title {
      font-size: .16rem;
      font-weight: 500;
      color: #3a345f;
      margin-right: auto;
    }
  }
}
