.c7n-master-unauthorized {
  display: flex;
  &-content {
    margin: 0 auto;
  }
  &-picture {
    background: url('./assert/unauthorized.svg');
    width: 6.18rem;
    height: 4.74rem;
    margin: 0 auto;
  }
  &-text {
    height:33px;
    font-size:24px;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:33px;
    margin-top: 42px
  }
  .relogin {
    width: 250px;
    height: 56px;
    margin-top: 32px;
    margin-left: calc(~"50% - 125px");
    span {
      font-size: 19px;
      font-weight: 500;
    }
  }
}