.c7ncd-project-create-avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-radius: 26px;
  background: #fff;

  &-wrap {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 26px;
    font-size: 40px;
    line-height: 80px;
    font-weight: 700;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #3f51b5;
    text-transform: uppercase;
    text-align: center;
  }

  &-button {
    position: absolute !important;
    width: 100%;
    height: 100% !important;
    border-radius: inherit !important;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: opacity 0.3s;

    .c7n-upload {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 80px;
      height: 80px;
      border-radius: 26px;
      background-color: rgba(0, 0, 0, 0.26);
      color: #fff;

      .icon {
        font-size: 24px;
        line-height: 80px;
      }
    }

    &-create {
      opacity: 1;
    }

    &-edit {
      opacity: 0;
    }
  }

  &:hover &-button {
    opacity: 1;
  }
}

.c7ncd-project-create {

  &-form {
    .c7n-pro-validation-message {
      white-space: unset;
    }

    .c7n-pro-select-box-wrapper {
      margin-top: .2rem;

      .c7n-pro-radio-label {
        display: inline-block;
        min-width: 1rem;
      }
    }
  }

  &-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-exception {
      width: .9rem;
      text-align: center;
      margin-bottom: 12px;
      display: flex;
      align-items: center;

      .c7n-pro-checkbox-inner {
        width: 14px !important;
        height: 14px !important;
      }
      
      .c7n-pro-checkbox-inner::after {
        top: -0.0242857rem !important;
        width: 0.04714286rem !important;
        height:  0.11428571rem !important;
      }
    }

    &-item {
      display: inline-block;
      text-align: center;
      width: 158px;
      height: 60px;
      border-radius: 6px;
      border: 1px solid #D9E6F2;
      padding: .1rem 0;
      margin: 0 20px 12px 0;
      cursor: pointer;
      line-height: 20px;
      // position: relative;

      &-disabled {
        cursor: not-allowed;
        background: #FFFFFF;
        opacity: 0.45;
        border: 1px solid #D9E6F2;
      }

      &-selected {
        background: rgba(83,101,234,0.0800);
        border-radius: 6px;
        border: 1px solid #5365EA;
      }

      &-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        .item-name {
          text-align: center;
          font-size: 13px;
        }
      }

      &-icon {
        width: .4rem;
        height: .4rem;
        line-height: .4rem;
        background: url("./images/devops.svg");
        background-repeat: no-repeat !important;
        margin-right: 15px;
        &-N_DEVOPS {
          background: url("./images/devops.svg");
        }
        &-N_AGILE,
        &-N_PROGRAM {
          background: url("./images/agile.svg");
        }
        &-N_TEST {
          background: url("./images/test.svg");
        }
        &-N_REQUIREMENT {
          background: url("./images/require.svg");
        }
        &-N_OPERATIONS {
          background: url("./images/operations.svg");
        }
        &-N_WATERFALL {
          background: url("./images/waterfall.svg");
        }
      }
    }

    &-label {
      font-size: 12px;
      font-weight: 500;
      color: rgba(15, 19, 88,0.6);
      line-height: 15px;
      margin-top: .1rem;
      margin-bottom: .14rem;

      &::after {
        display: inline-block;
        width: 0.08rem;
        margin-left: 0.04rem;
        color: #d50000;
        font-family: SimSun, sans-serif;
        line-height: 1;
        vertical-align: middle;
        content: '*';
        position: relative;
        top: -2px;
      }
    }
  }

  &-template {
    margin-top: 6px;
    &-checkbox-text {
      color: rgba(74,92,144,0.6500);
      display: inline-block;
      margin-right: 12px;
      font-size: 12px;
    }
    &-btn {
      font-weight: 500;
      color: #5365EA;
      font-size: 12px;
    }
  }
  &-advanced {
    &-divided {
      margin-top: 8px;
      margin-bottom: 16px;
      width: 100%;
      height: 1px;
      background: #d9e6f2;
    }
    &-title {
      margin-bottom: 13px;
      font-size: 7px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: var(--text-color);
      i {
        margin-left: 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(83, 101, 234, 0.08);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        top: -2px;
      }
      .btn-expand {
        border-radius: 16px !important;
        text-align: center !important;
        width: 24px !important;
        height: 24px !important;
        margin-left: 8px !important;
        .icon {
          margin-left: 0;
          position: relative;
          top: 0.5px;
        }
      }
    }
  }
}

.tree-select-text {
  color:  #0f1358 !important;
}

