#autoRouter > div:first-child {
  width: 100%;
  height: 100%;
  > div:first-child {
    height: 100%;
  }
}
.c7ncd-guide {
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(15, 19, 88, 0.2);
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 900;
  i {
    color: #5365ea;
    font-size: 26px;
  }
  &-popover {
    width: 320px;
    min-height: 428px;
    background: #ffffff;
    box-shadow: 0px 0px 12px 0px rgba(15, 19, 88, 0.2);
    &-head {
      background: #f7f9fc;
      border-bottom: 1px solid #d9e6f2;
      height: 100px;
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #0f1358;
      line-height: 24px;
      padding-top: 38px;
      padding-left: 16px;
      position: relative;
      img {
        width: 199px;
        position: absolute;
        right: -16px;
        top: -14px;
      }
    }
    &-content {
      max-height: 350px;
      overflow: auto;
      &-item {
        margin: 24px 16px 12px 16px;
        border-bottom: 1px dashed #D9E6F2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-left {
          &-stepName {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #0f1358;
            margin-bottom: 8px;
          }
          &-description {
            font-size: 12px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(15, 19, 88, 0.65);
            span {
              font-size: 12px;
              font-family: PingFangSC-Regular, PingFang SC;
              font-weight: 400;
              color: #5365ea;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  &-origin {
    .c7n-popover-inner-content {
      padding: 0;
    }
  }
}
.c7ncd-master-header {
  margin: 0;
  span:nth-child(2) {
    margin-left: 10px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: var(--text-color);
    span {
      color: var(--primary-color);
      margin: 0 3px;
    }
  }
}

.c7ncd-master-owner {
  p {
    margin: 0 0 19px 0;
    padding: 10px 12px;
    background: #FEEFF1;
    border-radius: 4px;
    border: 1px solid #FFCCC7;
  }
  i {
    color: #F76776;
    margin-right: 2px;
    position: relative;
    bottom: 2px;
  }
}
