@import "./inbox.less";
@prefixCls: c7ncd-wsbox-btn;

.c7ncd_operationAction {
  margin-left: 12px;
  i {
      position: relative;
      bottom: 2px;
  }
}

.@{prefixCls} {
  display: flex !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  &-icon {
    font-size: 23px !important;
    color: var(--text-color3);
  }
  > .c7n-badge-count {
    box-shadow: initial;
    cursor: pointer;
    top: -2px;
    transform: scale(0.8) !important;
    font-size: 15px;
    left: 20px;
    background-color: #f76776 !important;
    color: white !important;
    border-color: #f76776 !important;
    padding: 0 3px;
  }
}

.c7n-boot-header-inbox-sider-content-list-description-text {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
