@import "./inbox.less";
@prefixCls: c7ncd-wsbox-btn;

.@{prefixCls} {
  display: flex !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  &-icon {
    font-size: 23px !important;
    color: var(--text-color3);
  }
}
