::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(15, 19, 88, 0.2);
  transition: background-color .3s;
  border-radius: 6px;
  border: 2px dashed transparent;
  background-clip: padding-box;

  &:hover {
    background: rgba(15, 19, 88, 0.3);
  }
}
