@prefixCls: ~"c7ncd-reactQuery";

.@{prefixCls} {
  opacity: 0.8;
  &-toggleButton {
    height: 38px !important;
    width: 38px !important;
    background-size: cover !important;
    &:hover {
      background-size: 150% !important;
      background-position: 50% 50% !important;
    }
  }
}
