.c7n-project-overview {
  display: flex;
  // flex-direction: row;
  // height: auto !important;
  background: rgba(245, 246, 250, 1);

  &-SelectTheme {

    // background-color: red;
    input {
      border: none;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .12rem .20rem;
    margin-bottom: .2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: .04rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    &-left {
      flex-basis: 60%;
      margin-right: .2rem;
      width: 63%;
    }
  
    &-right {
      flex-basis: 37%;
      width: 37%;
    }
  }


  &-item {
    width: 100%;
    display: flex;
  }

}
