@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

@keyframes expandAnimate {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

body[data-theme="theme4"] {
  .c7n-project-overview-content {
    padding: 0 !important;
  }
}

.c7n-project-overview {
  display: flex;
  background: rgba(245, 246, 250, 1);

  &-content {
    background: #f5f6fa !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  .react-grid-item.react-grid-placeholder {
    background: rgba(14, 29, 128, 20);
    border-radius: 10px;
  }
  &-container {
    flex-shrink: 0;
    flex-grow: 1;
    height: auto;
    position: relative;
  }

  &-layout {
    overflow-y: scroll;
    min-height: 100%;
    height: inherit;
    margin-bottom: 40px;
    overflow-x: hidden;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &-btnGroups {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 13px;
    font-weight: 500;
    z-index: 10;
    button {
      animation: expandAnimate 0.5s both;
    }
    .Loop(@index) when(@index < 5) {
      button:nth-child(@{index}) {
        animation-delay: 0.05s * @index;
      }
      .Loop(@index+1);
    }

    .Loop(0);
  }

  &-SelectTheme {
    font-size: 0.14rem;

    // background-color: red;
    .c7n-pro-select-multiple-value {
      max-width: 1.05rem;
    }

    input {
      border: none;
    }

    .c7n-pro-select {
      border: none;
    }

    .c7n-pro-select-placeholder {
      font-weight: 400;
      line-height: 24px;
      padding-top: 2px;
      color: rgba(0, 0, 0, 1);
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.12rem 0.2rem;
    margin-bottom: 0.2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.04rem;
  }

  &-content {
    display: flex;
    justify-content: space-between;

    &-left {
      flex-basis: 65%;
      margin-right: 0.2rem;
      width: 63%;
    }

    &-right {
      flex-basis: 37%;
      width: 37%;
    }
  }

  &-item {
    width: 100%;
    display: flex;
  }

  .spin-container {
    width: auto !important;
    height: 100% !important;
  }
}

.c7n-reset-modal {
  .c7n-pro-modal-body {
    padding: 0 0.24rem;
  }
}
